* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    box-sizing: border-box;
 }

 .page-title {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    }

h1 {
    color: white;
    font-size: 32px;
}

h2 {
    color: white;
    font-size: 36px;
}

p {
    color: black;
    font-size: 24px;
}

img {
    border-radius: 25px;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #CD7E59;
    justify-content: space-around;
    
}

.header-links {
    color: white;
    text-transform: uppercase;
}

.sec-1 {
    display: flex;
    background-color: #CD7E59;
    justify-content: space-around;
    padding: 0 350px 50px 350px;
}

.sec-1-right {
    flex-direction: column;
}

.sec-1-minibio  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.sec-2 {
    display: flex;
    flex-direction: column;
    background-color: #EFEADD;
    }

.sec-2 .title-sec-2 {
    display: flex;
    justify-content: center;
}

form {
    padding: 50px 0 50px 0;
    align-self: center;
}

.title-sec-2 {
    flex-direction: row;
    justify-content: center;
    padding: 0 0 50px 0;
}

.sec-2 .images-sec-2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

figcaption {
    text-align: center;
}

form {
    align-items: center;
}

.sec-3 {
    flex: 1;
    padding: 50px 350px 50px 350px;
    background-color: #CD7E59;
}

.sec-3 .quote {
    display: flex;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.sec-3 .quote-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.sec-4 {
    display: flex;
    flex-direction: row;
    margin: 50px 300px 50px 300px;
    justify-content: space-between;
    background-color:  #C79625;
    }

.part-1-sec-4 {
    padding: 50px;
}

.part-2-sec-4 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: #CD7E59;
    justify-content: center;
}