* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
 }

 .page-title {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    width: auto;
    }

h1 {
    color: white;
    font-size: 32px;
}

h2 {
    color: white;
    font-size: 36px;
}

p {
    color: black;
    font-size: 24px;
}

img {
    border-radius: 25px;
}

.header {
    flex: 1;
    background-color: darkslateblue;
    justify-content: space-around;
}


.header .h-links {
    flex: 1;   
    justify-content: space-around;
  }


.sec-1 {
    background-color: darkslateblue;
        justify-content: space-between;
}


.sec-2 {
    background-color: bisque;
    flex: 1;
    padding: 50px 250px 50px 250px;
    }

.sec-2 .images-sec-2 {
    flex-direction: row;
    justify-content: space-between;
}

.sec-3 {
    flex: 1;
    padding: 50px 350px 50px 350px;
    background-color: lightgray;
}

.sec-3 .quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.sec-3 .quote-author {
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}


.sec-4 {
    flex-direction: row;
    flex: 1;
    margin: 50px 300px 50px 300px;
    justify-content: space-between;
    background-color: aqua;
    }

.part-1-sec-4 {
    padding: 50px;
}

.part-2-sec-4 {
    padding: 50px;
    justify-content: center;
}

.footer {
    background-color: darkslateblue;
    width: 100%;
    align-items: center;
}

.title-sec-2 {
    flex-direction: row;
    justify-content: center;
    padding: 0 0 50px 0;
}